:root {
  --primary-color: #189a46;
  --secondary-color: #f53626;
  --heading-color: #000c04;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

/* header  */
.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-color);
}
.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link {
  text-transform: capitalize;
  padding: 14px 0;
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
  color: var(--heading-color);
  transition: all .5s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: var(--primary-color);
}
.navbar-expand-lg .navbar-nav .nav-link::before {
    position: absolute;
    content: '';
    background: var(--primary-color);
    width: 0px;
    height: 1px;
    bottom: 13px;
    transition: all .5s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover::before{
    width: 100%;
}