:root {
  --primary-color: #189a46;
  --secondary-color: #f53626;
  --heading-color: #000c04;
  --bg-color: #fff;
  --dropdown-color: #fff;
  --border-color: #ddd;
  --border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

/* header  */
header {
  background-color: var(--bg-color);
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
.fixed-top {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-color);
}
.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link {
  text-transform: capitalize;
  padding: 14px 0;
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
  color: var(--heading-color);
  transition: all 0.5s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: var(--primary-color);
}
.navbar-expand-lg .navbar-nav .nav-link::before,
.dropdown-item::before {
  position: absolute;
  content: "";
  background: var(--primary-color);
  width: 0px;
  height: 1px;
  bottom: 13px;
  transition: all 0.5s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover::before,
.dropdown-item:hover::before {
  width: 100%;
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: "";
  width: 14px;
  height: 14px;
  background: var(--dropdown-color);
  border: 1px solid var(--border-color);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}
.navbar-expand-lg .navbar-nav .nav-link span.fa {
  font-size: 14px;
  padding-left: 2px;
  font-weight: 600;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  transform: translateX(-50px);
}
.dropdown-menu {
  border-radius: var(--border-radius);
  background: var(--dropdown-color);
  border: 1px solid var(--border-color);
  min-width: 13rem;
  padding: 1rem 0 0.3rem;
}
.dropdown-item {
  font-weight: 400;
  font-size: 1.2em;
  position: relative;
  color: var(--heading-color);
  padding-top: 0;
  display: block;
  width: 100px;
  padding-bottom: 14px;
}
/* carousel  */
.carousel .item {
  height: 100vh;
}
.item1 {
  background-image: url("../img/banner1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.item2 {
  background-image: url("../img/banner2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.item3 {
  background-image: url("../img/banner3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.item4 {
  background-image: url("../img/banner4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #000, transparent);
}


.carousel .carousel__caption h5 {
  font-size: 66px;
  line-height: 76px;
  font-weight: 700;
  text-transform: capitalize;
}
#myCarousel .carousel__caption p {
  font-weight: 400;
  text-transform: capitalize;
  line-height: 30px;
  opacity: 0.9;
}
#carousel .carousel__caption .btn-white {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
  background-color: #fff;
  color: var(--primary-color);
}

.arousel .carousel__caption .border-btn {
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 35px;
}
.arousel .carousel__caption .border-btn:hover {
  color: var(--primary-color);
  background: #fff;
}


