:root {
  --primary-color: #189a46;
  --secondary-color: #f53626;
  --heading-color: #000c04;
  --bg-color: #fff;
  --dropdown-color: #fff;
  --border-color: #ddd;
  --bg-light: rgba(147, 107, 232, 0.05);
  --font-color: #696969;
  --border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.read {
  font-size: 17px;
  padding: 0;
  border-bottom: 2px solid var(--primary-color);
  color: var(--heading-color);
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
}
.read:hover {
  color: var(--primary-color);
}
.sub-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: var(--secondary-color);
}
.title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}
p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;
  color: var(--font-color);
}
a {
  text-decoration: none;
}
.btn-style{
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  border-radius: var(--border-radius);
}
.btn-primary{
  color: #fff;
  background-color: #189a46;
  border-color: #189a46;
  transition: all .5s;
}
.btn-primary:hover{
  background-color: #116e32;
  border-color: #116e32;
}
/* header  */
header {
  background-color: var(--bg-color);
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
.fixed-top {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-color);
}
.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link {
  text-transform: capitalize;
  padding: 14px 0;
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
  color: var(--heading-color);
  transition: all 0.5s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: var(--primary-color);
}
.navbar-expand-lg .navbar-nav .nav-link::before,
.dropdown-item::before {
  position: absolute;
  content: "";
  background: var(--primary-color);
  width: 0px;
  height: 1px;
  bottom: 13px;
  transition: all 0.5s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover::before,
.dropdown-item:hover::before {
  width: 100%;
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: "";
  width: 14px;
  height: 14px;
  background: var(--dropdown-color);
  border: 1px solid var(--border-color);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: 1001;
}
.navbar-expand-lg .navbar-nav .nav-link span.fa {
  font-size: 14px;
  padding-left: 2px;
  font-weight: 600;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  transform: translateX(-50px);
}
.dropdown-menu {
  border-radius: var(--border-radius);
  background: var(--dropdown-color);
  border: 1px solid var(--border-color);
  min-width: 13rem;
  padding: 1rem 0 0.3rem;
}
.dropdown-item {
  font-weight: 400;
  font-size: 1.2em;
  position: relative;
  color: var(--heading-color);
  padding-top: 0;
  display: block;
  width: 100px;
  padding-bottom: 14px;
}
/* carousel  */

.carousel .banner-view {
  background: url(../img/banner1.jpg) no-repeat center;
  background-size: cover;
  min-height: calc(100vh - 40px);
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 3em 0;
}
.carousel li {
  list-style-type: none;
}
.carousel .banner-top1 {
  background: url(../img/banner2.jpg) no-repeat center;
  background-size: cover;
}
.carousel .banner-top2 {
  background: url(../img/banner3.jpg) no-repeat center;
  background-size: cover;
}
.carousel .banner-top3 {
  background: url(../img/banner4.jpg) no-repeat center;
  background-size: cover;
}

.carousel .banner-view::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #0c0c0c;
  opacity: 0.6;
}
.carousel .banner-info-bg {
  max-width: 700px;
}
.carousel .banner-info-bg h5 {
  font-size: 66px;
  line-height: 76px;
  font-weight: 700;
  text-transform: capitalize;
}
.carousel .banner-info-bg p {
  font-weight: 400;
  text-transform: capitalize;
  line-height: 30px;
  opacity: 0.9;
}
.carousel .banner-info-bg .btn-white {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
  background-color: #fff;
  color: var(--primary-color);
}

.carousel .banner-info-bg .border-btn {
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 35px;
}
.carousel .banner-info-bg .border-btn:hover {
  color: var(--primary-color);
  background: #fff;
}
.owl-theme .owl-nav {
  display: none;
}
.owl-theme .owl-dots {
  margin-top: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: var(--primary-color);
  width: 30px;
  height: 10px;
}
/* about  */
.about__content.align-items-center {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

/* features  */
.features {
  background-color: var(--bg-light);
}
.features .icon i {
  color: var(--primary-color);
  font-size: 30px;
}
.features .card {
  padding: 40px 30px;
  transition: all 0.5s ease 0s;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  position: relative;
  margin-bottom: 30px;
  border-color: transparent;
}
.features .card:hover {
  background: var(--bg-light);
}
.features .card-body h4 a,
.features .card-body a {
  text-decoration: none;
}
.features .card-body {
  padding: 20px 0;
}
.features .card-body h4 a {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  display: block;
  color: var(--heading-color);
  transition: all 0.5s;
}
.features .card-body h4 a:hover {
  color: var(--primary-color);
}
.features .card-body p {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 28px;
  color: var(--font-color);
}
/* services  */
.services .service-img img {
  border-radius: 10px;
}
.services .service-text {
  align-self: center;
}
.services .service-text p {
  font-size: 16px;
  margin: 15px 0 35px 0;
}
.services .cont-4 {
  list-style: none;
  line-height: 1.5;
}
.services .cont-4 i {
  color: var(--primary-color);
  margin-right: 12px;
  background: var(--bg-light);
  font-weight: 700;
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
}
.services .cont-4 li {
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--heading-color);
  margin: 15px 0;
  font-weight: 600;
}
/* number  */
.number{
  background: var(--primary-color);
}
.number .number__info{
  text-align: center;
}
.number .number__info p {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 0;
}
.number .number__info h4 {
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #fff;
    margin-top: 10px;
    opacity: 0.8;
    font-weight: 400;
}
/* pricing  */
.pricing{
  background: var(--bg-light);
}
.pricing .heading h6{
  font-weight: 600;
}
.pricing .pricing__content{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  margin: 0 5% auto;
  margin-top: 0;
  width: 90%;
}
.pricing .pricing__content .pricing__info{
  background: var(--bg-color);
  border-radius: 6px;
  align-self: center;
}
.pricing .pricing__detail-top h6{
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}
.pricing .pricing__detail-top h4{
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  font-weight: 600;
  color: var(--primary-color);
}
.pricing .pricing__detail-top h4 label{
  font-size: 25px;
  vertical-align: text-top;
}
.pricing .pricing__detail-top h4 span{
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
}
.pricing .pricing__detail-bottom-info .links{
  min-height: 120px;
}
.pricing .pricing__detail-bottom-info .links li{
  list-style: none;
  margin-bottom: 5px;
  color: #304659;
}
.pricing .pricing__detail-bottom-info .links li p{
  font-size: 18px;
  line-height: 28px;
  padding-top: 6px;
}
.pricing .pricing__info.active{
  -webkit-transform: scale(1.03);
  box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
}
.pricing .pricing__info.active .pricing__detail-top{
  padding: 3em 2.5em 0.5em;
  background: var(--primary-color);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.pricing .pricing__detail-top h5{
  font-size: 15px;
  line-height: 20px;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: var(--border-radius);
}
.pricing .pricing__info.active h6, .pricing .pricing__info.active h4{
  color: #fff;
}
.pricing .pricing__info.active h4 span{
  color: #eee;
}
.pricing .pricing__info.active .pricing__detail-bottom{
      padding: 2em 2.5em 3.5em;
}
/* index  */
.middle-section{
  max-width: 950px;
  margin: 0 auto;
}
.radius-img